torch>=2.2.0
torchvision>=0.17.0
transformers>=4.51.0
accelerate>=1.6.0
huggingface-hub>=0.31.0
safetensors>=0.5.3

Pillow>=10.2.0
requests>=2.32.0
tqdm>=4.67.0
numpy>=1.26.0

sentencepiece>=0.2.0
protobuf>=5.29.0
einops>=0.8.0

pandas>=2.2.0

opencv-python>=4.11.0

jsonlines>=4.0.0

python-dotenv>=1.0.1

peft>=0.15.2
